<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image_library.name %>
</p>

<%= link_to 'Edit', edit_image_library_path(@image_library) %> |
<%= link_to 'Back', image_libraries_path %>
